{% extends 'first_app/base.html' %}
{% load socialaccount %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Please Login</h1>

        <form method="post" action="login">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="userame">Username:</label>
          <input type="text" name="username" placeholder="Username">

          <label for="passord"></label>
          <input type="password" name="password">

          <input type="submit" name="submit" value="Submit">
        </form>

        <a href="{% provider_login_url 'google' process='login' %}">Login with Google</a>

    </div>
  </div>
{% endblock %}